Repository jina-ai/discoart, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/testing, area/setup, area/entrypoint, area/housekeeping, area/cicd, area/docker, area/script, component/nn, component/resources

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
area/docs:
  - docs/**/*
  - ./*.md

area/testing:
  - tests/**/*

area/setup:
  - setup.py
  - extra-requirements.txt
  - requirements.txt
  - MANIFEST.in

area/entrypoint:
  - discoart/__init__.py

area/housekeeping:
  - .github/**/*
  - ./.gitignore
  - ./*.yaml
  - ./*.yml

area/cicd:
  - .github/workflows/**/*

area/docker:
  - Dockerfiles/**/*
  - ./.dockerignore
  - ./Dockerfile

area/script:
  - scripts/**/*

component/nn:
  - discoart/nn/**/*

component/resources:
  - discoart/resources/**/*

fix: broken compression on race condition #9
  discoart/runner.py
Labels: none

fix: use uuid instead of seed as da name
  discoart/config.py
Labels: none

docs: update readme
  README.md
Labels: area/docs

docs: update readme
  discoart/helper.py
Labels: none

docs: update readme
  discoart/resources/default.yml
Labels: component/resources

fix: update guided diffusion upstream
  discoart/helper.py
  discoart/runner.py
Labels: none

fix: update guided diffusion upstream
  discoart/helper.py
Labels: none

fix: update guided diffusion upstream
  discoart/helper.py
Labels: none

fix: update guided diffusion upstream
  discoart/runner.py
Labels: none

fix: update guided diffusion upstream
  discoart/config.py
Labels: none

fix: update guided diffusion upstream
  discoart/config.py
Labels: none

fix: update guided diffusion upstream
  discoart/config.py
  discoart/runner.py
Labels: none

fix: update guided diffusion upstream
  discoart/__init__.py
Labels: area/entrypoint

fix: update guided diffusion upstream
  discoart/helper.py
  discoart/resources/default.yml
  discoart/resources/docstrings.yml
  discoart/runner.py
  setup.py
Labels: area/setup, component/resources

fix: update guided diffusion upstream
  discoart/runner.py
Labels: none

fix: update guided diffusion upstream
  discoart/__init__.py
  discoart/helper.py
  discoart/runner.py
Labels: area/entrypoint

feat: add spell checker
  discoart/__init__.py
Labels: area/entrypoint

feat: add spell checker
  discoart/__init__.py
Labels: area/entrypoint

feat: add spell checker
  discoart/__init__.py
Labels: area/entrypoint

feat: add spell checker
  discoart/runner.py
Labels: none

feat: add spell checker
  discoart/helper.py
Labels: none

feat: add spell checker
  discoart/runner.py
Labels: none

feat: add spell checker
  discoart/resources/vocab.txt
  discoart/runner.py
Labels: component/resources

feat: add spell checker
  discoart/helper.py
Labels: none

feat: add spell checker
  discoart/helper.py
Labels: none

feat: add spell checker
  discoart/helper.py
Labels: none

feat: add spell checker
  discoart/runner.py
Labels: none

feat: add spell checker
  discoart/runner.py
Labels: none

feat: add spell checker
  discoart/helper.py
  discoart/resources/vocab.txt
  discoart/runner.py
Labels: component/resources

feat: add spell checker
  discoart/helper.py
  discoart/runner.py
Labels: none

feat: add spell checker
  discoart/runner.py
Labels: none

feat: add spell checker
  discoart/runner.py
Labels: none

feat: add spell checker
  discoart/__init__.py
  discoart/runner.py
Labels: area/entrypoint

feat: add spell checker
  discoart/__init__.py
Labels: area/entrypoint
