Repository jina-ai/discoart, pull requests merged in 2022-08, with the labels that each got.

#121 refactor: move python code generation to runner
  README.md
  discoart/config.py
  discoart/runner.py
  setup.py
  tests/test_config.py
Labels: area/setup, size/s, area/testing

#123 refactor: loss tracking
  discoart/runner.py
Labels: size/s

#122 chore: remove the unused lines
  scripts/black.sh
Labels: area/script, size/xs

#125 fix: eval schedule string
  discoart/helper.py
  tests/test_config.py
Labels: size/s, area/testing

#126 fix: make eval schedule string safe
  discoart/helper.py
  tests/test_config.py
Labels: size/s, area/testing

#127 fix: less verbose on gif and progress output
  discoart/config.py
  discoart/create.py
  discoart/persist.py
  discoart/resources/default.yml
  discoart/resources/docstrings.yml
  discoart/runner.py
Labels: component/resources, size/s

#128 fix: final output and progress on save
  discoart/create.py
  discoart/persist.py
  discoart/resources/default.yml
  discoart/resources/docstrings.yml
  discoart/runner.py
Labels: component/resources, size/s

#130 feat: add option for visualizing cuts
  discoart/create.py
  discoart/helper.py
  discoart/resources/default.yml
  discoart/resources/docstrings.yml
  discoart/runner.py
  setup.py
Labels: component/resources, size/s

#132 feat: add display rate back for saving bandwidth
  discoart/config.py
  discoart/create.py
  discoart/persist.py
  discoart/resources/default.yml
  discoart/resources/docstrings.yml
  discoart/runner.py
Labels: component/resources, size/s

#135 fix: init image when batch size greater than 1
  discoart/runner.py
Labels: size/s

#136 fix: windows tempfile usage
  discoart/runner.py
Labels: size/s

#138 fix: cutouts generation
  discoart/__init__.py
  discoart/config.py
  discoart/create.py
  discoart/helper.py
  discoart/nn/make_cutouts.py
  discoart/resources/default.yml
  discoart/resources/docstrings.yml
  discoart/runner.py
Labels: size/m, area/entrypoint, component/nn, component/resources

#139 fix: remove torch script
  discoart/nn/make_cutouts.py
  discoart/runner.py
Labels: component/nn, size/s

#140 feat: add image callback in sampling
  discoart/nn/helper.py
  discoart/nn/transform.py
  discoart/persist.py
  discoart/runner.py
Labels: component/nn, size/s

#141 fix: float to int in seeding
  discoart/config.py
Labels: size/s

#143 fix: str and int in arg parsing
  discoart/config.py
  tests/test_config.py
Labels: size/s, area/testing

#145 feat: add completed tab
  discoart/helper.py
  discoart/persist.py
  discoart/runner.py
Labels: size/s

#147 fix: int parse from prev docarray
  discoart/config.py
Labels: size/xs

#152 chore: add discoart integration list
  README.md
Labels: size/xs

#158 feat: add gobig api
  FEATURES.md
  discoart/__init__.py
  discoart/create.py
Labels: size/m, area/entrypoint
